server.port=8080
server.address=127.0.0.1
spring.application.base-url=${server.address}:${server.port}/
spring.application.name=APPLICATION NAME
spring.data.mongodb.authentication-database=admin
spring.data.mongodb.database=DATABASE_NAME
spring.data.mongodb.port=27017
spring.data.mongodb.host=localhost
spring.data.mongodb.auto-index-creation=true
jwt.signing.key.secret=SECRET_KEY
#60×10 = 10 minutes
jwt.token.expiration.in.seconds=600
#60×60×24×7 = 7 days
jwt.token.refresh.expiration.in.seconds=604800
jwt.account.activation.expire=604800
jwt.http.request.header=Authorization
jwt.get.token.uri=/login
jwt.get.register.uri=/user
jwt.refresh.token.uri=/token/refresh
spring.mail.protocol=smtp
spring.mail.host=smtp.mailtrap.io
spring.mail.port=2525
spring.mail.username=SMTP_USERNAME
spring.mail.password=SMTP_PASSWORD
spring.mail.ssl=false
spring.mail.from=FROM_EMAIL_ADDRESS
spring.user.password.validation-message=Password have at least one numeric character, at least one lowercase character, at least one uppercase character, at least one special symbol among @#$% and length should be between 8 and 20
spring.user.suspend-by-default=false
spring.user.forgotten-password.expire=7200
